<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033654747894-25p9kroh79o2halmo3s8aqmh89e85d4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033654747894-25p9kroh79o2halmo3s8aqmh89e85d4s</string>
	<key>API_KEY</key>
	<string>AIzaSyAjI-gnQlqTFGbgr5FbtSGi_AMRCK8uTFc</string>
	<key>GCM_SENDER_ID</key>
	<string>1033654747894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alindorTech</string>
	<key>PROJECT_ID</key>
	<string>alindor-23640</string>
	<key>STORAGE_BUCKET</key>
	<string>alindor-23640.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033654747894:ios:33a65fcc42a807559362d7</string>
</dict>
</plist>